@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #661428;
  --color-secondary: #e0998b;

  --color-cta: #fff0b8;
  --color-cta-hover: #fff7dc;

  --color-accent-beige: #f5f1e8;
  --color-accent-green: #6b705c;

  --color-neutral-black: #000000;
  --color-neutral-white: #ffffff;

  /* Fonts */
  --font-abril: "Abril Fatface", serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-special: "Special Elite", system-ui;
}

@layer base {
  body {
    @apply font-outfit text-neutral-black;
  }
}

@layer components {
}

@layer utilities {
}
